@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto;
  color:white;
}

section form ul li input{
  border: none; 
}
section form ul li input:focus{
outline: none
}
section form ul li button{
  border: none; 
}
section form ul li button:focus{
outline: none
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  /* flex-direction: column; */
  height: 100vh;
  background: grey;
  
}

section{
  background-color: #6737B7;
  width: 327px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 57px;
  padding-top: 25px;
  margin: 40px;
  border-radius: 5%;
}
section header {
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  text-align: center;
}
section form {
  
}
section form ul {
  list-style-type: none;
}
section form ul li{
  display:flex;
  flex-direction: column;
  margin: 5px;
}
section form ul li label{
  font-weight:300;
  font-size: 18px;
}
section form ul li input{
  padding: 2px;
  color: black;
width: 168px;
height: 27px;

background: #FFFFFF;
border-radius: 6px;
}




.userImageLi {
  margin-top: 20px;
  margin-bottom: 47px;
  
}
.userImageLi img {
  width: 32px;
  cursor: pointer;
  color: white;
}

.submitLi {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;

  font-size: 18px;
  
  
}
.submitLi button {
  width: 106px;
  height: 34px;
  font-size:18px;

background: #18A0FB;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    overflow: hidden;
  cursor: pointer;
}

.submitLi button:hover {
   background: #fff;
  color: #339DFF;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}