* {
    margin: 0px;
    padding-top: 0px;
    box-sizing: border-box;

}
body {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* Separa o grid em colunas, no caso aqui foi separado em duas mas da pra separar em varias */
    /* grid-template-rows: 1fr 1fr; */
    /* Separa o grid em linhas, no caso aqui foi separado em duas mas da pra separar em varias */
    /* Da pra utilizar fr tambem que é "Frações ex: 1fr no lugar de auto */
    grid-template-areas: 
    'main-header main-header'
    'main-aside main-content'
    'main-footer main-footer'
    ;
    /* mt intuitivo e maravilhosooooooo */
}

header {
    width: 100%;
    background-color: green ;
    grid-area: main-header;
    /* Apelido para esse espaço para que possamos usar dentro da grid  */
    height: 100px;
    position: fixed;
}

aside {
    background-color: red;
    grid-area: main-aside;
    height: 100%;
    padding-top: 100px;
}

main {
    
    background-color: blue;
    grid-area: main-content;
    height: 2000px;
    padding-top: 100px;
}

footer {    
    background-color: lightskyblue;
    grid-area: main-footer;
    height: 200px;
}

.videos {
    display: flex;
    /* padding: 20px; */
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 100px;
}
.video {
    width: 400px;
}

.video img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* Se a imagem esticar ele vai fazer ela cobrir e nao vai mais esticar */
}