* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}