@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
 
body {
  background-color: #f5f5f5;
}


.navbar{
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: .4s ease-in-out;
  img{
    width: 60px;
    height: 30px;
    content: url('../images/3268860.png');
  }
  .navbar-brand{
    font-weight: 700;
  }
  .loginBtn {
    color: white;
    font-weight: 600;
    background: linear-gradient(90deg, hsla(242, 99%, 28%, 1) 0%, hsla(278, 95%, 35%, 1) 50%, hsla(302, 100%, 49%, 1) 100%);
    border-radius: 4px;
    padding: 0px 15px;
    width: 100px;
    height: 35px;
    text-align: center;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
}

.loginData{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  & > input{
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #b4b0b0
  }
}

footer {
  .authorName {
    color: white;
  }
  .respose {
    font-size: 10px;
  }
  .gitImg{
    content: url(../images/github-icon.svg);
  }
  .linkImg{
    content: url(../images/linkedin-3-16.png);
  }
  #viniImg {
    background-image: url(https://avatars.githubusercontent.com/u/83192227?v=4);
    background-size: cover;
    width: 80px;
    height: 80px;
    background-color: red;
  }
  #johnnyImg {
    background-image: url(https://avatars.githubusercontent.com/u/56652706?v=4);
    background-size: cover;
    width: 80px;
    height: 80px;
    background-color: red;
  }
  #guImg {
    background-image: url(https://avatars.githubusercontent.com/u/63621937?v=4);
    background-size: cover;
    width: 80px;
    height: 80px;
    background-color: red;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}

@media (max-width: 991px) {
  .navbar ul li a {
    text-align: center;
  }
  .navbar .loginBtn {
    width: 100%;
    margin: 0;
  }
}
