.main-banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/mainbanner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #0b5ed7;
  }
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding: 6px;
    text-align: center;
  }

  button {
    margin-top: 100px;
    border: 1px solid #0b5ed7;
    background: rgba(51, 187, 105, 0.05);
    color: white;
    padding: 10px;
    width: 322px;
    height: 71px;
    border-radius: 4px;
    font-size: 25px;
    letter-spacing: 0.06em;
    transition: 0.1s ease-in-out;
    &:hover {
      filter: brightness(150%);
    }
  }
}
.sized {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-card {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    transform: scale(101%);
  }
}
.capa-album {
  width: 254px;
  height: 254px;
}
.style-button {
  width: 100px;
  height: 40px;
  font-family: Roboto;
  letter-spacing: 0.03em;
  background-color: #0b5ed7;
  transition: 0.1s ease-in-out;
  color: white;
  width: 180px;
  &:hover {
    filter: brightness(120%);
  }
}
.bot-card-style {
  margin: 0 auto;
  text-align: center;
  a {
    margin-top: 10px;
  }
  h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
  }
}
.reset-class {
    margin: 0px;
  }
@media only screen and (max-width: 600px) {
  .main-banner h1 {
    font-size: 48px;
  }

  .main-banner p {
    font-size: 14px;
  }

  .main-banner button {
    width: 250px;
    font-size: 20px;
    margin-top: 50px;
  }
}
